body {
	display:flex;
	background-image: url(../images/randy-fath-5aJVJvJ9rG8-unsplash.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: flex-start center;
	vertical-align: top;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: midnightblue;
	margin: 0 20px 0 20px;
}

h3 {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color:darkgreen;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

div {
	font-family: Arial, Helvetica, sans-serif;
	color: antiquewhite;
}

#menuBG {
	width: 500px;
	height: 800px;
	margin: 10px auto;
}

.menu {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

#frmMenu {
	width: 500px;
	background-color: rgba(150, 150, 150, .6);
	align-items: center;
}

ul {
    padding: 0;
    list-style-type: none;
	margin: 5px 0;
}

.left {
	width: 50%;
	float: left;
}

.right {
	width: 50%;
	float: right;
}

.bottom {
	width: 500px;
	height: 175px;
}

.bottom ul {
	width: 100%;
	column-width: 270px;
	columns: 2;
}

#cart {
	display: flex;
	flex-direction: column;
	top: 0;
	margin: 0px auto;
	width: 500px;
	height: 260px;
}

#showText {
	width: 500px;
	height: 220px;
	margin: 0px auto;
}
/*
#showText li {
	font-size: 14px;
}*/

#showText ul {
	width: 100%;
	column-width: 270px;
	columns: 2;
    padding: 0;
    list-style-type: none;
	margin: 5px 0;}

#order {
	display: flex;
	flex-direction: row;
	height: 40px;
}

#totalPrice {
	width: 250px;
	margin: 0 auto;
	vertical-align: center;
}

#btnOrder {
	margin-right: 0;
	width: 100px;
	height: 40px;
}